<a href="https://colab.research.google.com/github/lhwong/airbnb-analytics/blob/main/paidout.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
from google.colab import files
import io
import matplotlib.pyplot as plt


uploaded = files.upload()


df2 = pd.read_csv(io.BytesIO(uploaded['airbnb_tax_01_2023-08_2023.csv']), parse_dates=['Date', 'Start Date'])



df2.loc[df2["Listing"] == "Level35 Ceylonz Suites overlooking KLCC, KL Tower", "Listing"] = 'R'
df2.loc[df2["Listing"] == "Level 35 Ceylonz Suites overlooking KLCC, KL Tower", "Listing"] = 'L'

result = df2.loc[df2['Type'] == "Reservation", 'Amount'].sum()

print("Total Paid Out Amount: ",result)



grouped = df2.loc[(df2['Type'] == "Reservation")].groupby('Listing')['Amount'].sum()

print(grouped)

grouped1 = df2.loc[(df2['Type'] == "Reservation")].groupby(['Listing', df2.Date.dt.month])['Amount'].sum()

print(grouped1)

#df2.set_index(df2.Date.dt.month, inplace=True)

#df2.loc[(df2['Type'] == "Reservation")].groupby('Listing')['Amount'].plot(legend=True)




#grouped2 = df2.loc[(df2['Type'] == "Reservation")].groupby([df2.Date.dt.month, 'Listing'])['Amount'].sum()
#.unstack().assign(Total=df2.groupby(df2.Date.dt.month).sum()).stack()

#print(grouped2)





#table = pd.pivot_table(df2, values=['Amount'], index=[df2.Date.dt.month,'Listing'], aggfunc = 'sum')
#table

pd.pivot_table(grouped2.reset_index(),
               index='Date', columns='Listing', values='Amount'
              ).plot(legend=True)

In [ ]:
import pandas as pd
from google.colab import files
import io
import matplotlib.pyplot as plt
import datetime
from re import sub
from decimal import Decimal

#uploaded = files.upload()


df1 = pd.read_csv('reservations1.csv', parse_dates=['Start date', 'End date', 'Booked'])

df2 = pd.read_csv('reservations2.csv', parse_dates=['Start date', 'End date', 'Booked'])

df3 = pd.read_csv('reservations3.csv', parse_dates=['Start date', 'End date', 'Booked'])

df4 = pd.read_csv('reservations4.csv', parse_dates=['Start date', 'End date', 'Booked'])

df5 = pd.read_csv('reservations5.csv', parse_dates=['Start date', 'End date', 'Booked'])

df6 = pd.read_csv('reservations6.csv', parse_dates=['Start date', 'End date', 'Booked'])

frames  = [df1, df2, df3, df4, df5, df6]
df = pd.concat(frames, ignore_index=True)


df.loc[df["Listing"] == "Level35 Ceylonz Suites overlooking KLCC, KL Tower", "Listing"] = 'R'
df.loc[df["Listing"] == "Level 35 Ceylonz Suites overlooking KLCC, KL Tower", "Listing"] = 'L'

df["Earnings"] = df["Earnings"].apply(lambda x: x.replace("RM", ""))


print(df.head(3))

cols = ['Date', 'Listing', 'Earnings']
lst = []
for ind in range(len(df)):
  for y in range(df['# of nights'][ind]) :
    date = df['Start date'][ind] + datetime.timedelta(days=y)
    lst.append([date, df['Listing'][ind], Decimal(sub(r'[^\d.]', '', df['Earnings'][ind]))/df['# of nights'][ind]])

data = pd.DataFrame(lst, columns=cols)

dataL = data.loc[(data['Earnings'] > 0) & (data['Listing'] == 'L')]


with pd.option_context('display.max_rows', None):
  display(dataL)

dataR = data.loc[(data['Earnings'] > 0) & (data['Listing'] == 'R')]


with pd.option_context('display.max_rows', None):
  display(dataR)


data.groupby([data.Date.dt.month, 'Listing'])['Earnings'].sum()


#for ind in range(len(df)):
#    print(df['Start date'][ind], df['End date'][ind], df['# of nights'][ind])

  Confirmation code      Status                    Guest name Contact  \
0        HMNBYF9B2H  Past guest                    Alyosha 用户     NaN
1        HMA38XX8BD  Past guest                Farhan Razhuan     NaN
2        HMCQMMSQ8F  Past guest  Siti Nur Athirah Ahmad Latfi     NaN

   # of adults  # of children  # of infants Start date   End date  \
0            1              0             0 2023-04-26 2023-04-28
1            2              0             0 2023-04-28 2023-04-30
2            1              0             0 2023-04-29 2023-04-30

   # of nights     Booked Listing  Earnings
0            2 2023-04-25       R  RM210.68
1            2 2023-04-25       R  RM263.35
2            1 2023-04-25       L  RM153.75

          Date Listing                       Earnings
4   2023-04-29       L                         153.75
6   2023-04-30       L                         151.42
13  2023-05-06       L  127.4128571428571428571428571
14  2023-05-07       L  127.4128571428571428571428571
15  2023-05-08       L  127.4128571428571428571428571
16  2023-05-09       L  127.4128571428571428571428571
17  2023-05-10       L  127.4128571428571428571428571
18  2023-05-11       L  127.4128571428571428571428571
19  2023-05-12       L  127.4128571428571428571428571
28  2023-05-13       L                         146.20
31  2023-05-14       L                         113.53
32  2023-05-15       L                         113.53
37  2023-05-16       L                         113.54
38  2023-05-17       L                         113.54
39  2023-05-18       L  139.4133333333333333333333333
40  2023-05-19       L  139.4133333333333333333333333
41  2023-05-20       L  139.4133333333333333333333333
45  2023-05-21       L  123.3433333333333333333333333
46  2023-05-22       L  123.3433333333333333333333333
47  2023-05-23       L  123.3433333333333333333333333
51  2023-05-24       L                        113.545
52  2023-05-25       L                        113.545
64  2023-05-31       L                         126.57
65  2023-06-01       L                         126.57
69  2023-06-02       L                         146.20
70  2023-06-03       L                         146.75
71  2023-06-04       L                         146.75
73  2023-06-05       L                         151.38
76  2023-06-06       L  121.6666666666666666666666667
77  2023-06-07       L  121.6666666666666666666666667
78  2023-06-08       L  121.6666666666666666666666667
81  2023-06-09       L  132.0366666666666666666666667
82  2023-06-10       L  132.0366666666666666666666667
83  2023-06-11       L  132.0366666666666666666666667
88  2023-06-12       L  115.2166666666666666666666667
89  2023-06-13       L  115.2166666666666666666666667
90  2023-06-14       L  115.2166666666666666666666667
94  2023-06-15       L                         142.97
97  2023-06-16       L  114.9366666666666666666666667
98  2023-06-17       L  114.9366666666666666666666667
99  2023-06-18       L  114.9366666666666666666666667
106 2023-06-19       L                         134.56
107 2023-06-20       L                         134.56
119 2023-06-21       L                         147.17
121 2023-06-22       L                          84.11
122 2023-06-23       L                          84.11
123 2023-06-22       L                         134.56
124 2023-06-23       L                         134.56
127 2023-06-24       L                        104.448
128 2023-06-25       L                        104.448
129 2023-06-26       L                        104.448
130 2023-06-27       L                        104.448
131 2023-06-28       L                        104.448
136 2023-06-29       L                        155.395
137 2023-06-30       L                        155.395
142 2023-07-01       L                         164.92
143 2023-07-02       L                         164.92
144 2023-07-03       L                         164.92
146 2023-07-04       L                         155.59
154 2023-07-05       L                         126.43
155 2023-07-06       L                         126.43
156 2023-07-07       L                         126.43
157 2023-07-08       L  118.0166666666666666666666667
158 2023-07-09       L  118.0166666666666666666666667
159 2023-07-10       L  118.0166666666666666666666667
160 2023-07-11       L                        128.685
161 2023-07-12       L                        128.685
165 2023-07-13       L                         142.97
170 2023-07-14       L                        138.765
171 2023-07-15       L                        138.765
174 2023-07-16       L                        161.475
175 2023-07-17       L                        161.475
181 2023-07-18       L                         159.79
188 2023-07-19       L  142.9666666666666666666666667
189 2023-07-20       L  142.9666666666666666666666667
190 2023-07-21       L  142.9666666666666666666666667
198 2023-07-22       L                         159.79
199 2023-07-23       L                        139.175
200 2023-07-24       L                        139.175
202 2023-07-25       L                         151.40
203 2023-07-26       L                        129.095
204 2023-07-27       L                        129.095
212 2023-07-28       L                         171.85
213 2023-07-29       L                         171.85
214 2023-07-30       L                         142.97
215 2023-07-31       L                         159.79
219 2023-08-01       L  135.9566666666666666666666667
220 2023-08-02       L  135.9566666666666666666666667
221 2023-08-03       L  135.9566666666666666666666667
226 2023-08-04       L                        157.275
227 2023-08-05       L                        157.275
228 2023-08-06       L                         142.97
230 2023-08-07       L                         145.92
231 2023-08-08       L                         145.92
235 2023-08-09       L  128.5366666666666666666666667
236 2023-08-10       L  128.5366666666666666666666667
237 2023-08-11       L  128.5366666666666666666666667
238 2023-08-12       L  128.5366666666666666666666667
239 2023-08-13       L  128.5366666666666666666666667
240 2023-08-14       L  128.5366666666666666666666667
247 2023-08-17       L                         186.69
253 2023-08-18       L                        141.622
254 2023-08-19       L                        141.622
255 2023-08-20       L                        141.622
256 2023-08-21       L                        141.622
257 2023-08-22       L                        141.622
260 2023-08-23       L  165.3933333333333333333333333
261 2023-08-24       L  165.3933333333333333333333333
262 2023-08-25       L  165.3933333333333333333333333
265 2023-08-26       L                         186.70
268 2023-08-27       L                         146.75
269 2023-08-28       L                         146.75
278 2023-08-29       L                         174.94
279 2023-08-30       L                        141.705
280 2023-08-31       L                        141.705
283 2023-09-01       L                         195.95
285 2023-09-02       L                        169.455
286 2023-09-03       L                        169.455
291 2023-09-05       L                        127.835
292 2023-09-06       L                        127.835
295 2023-09-07       L                        156.835
296 2023-09-08       L                        156.835
299 2023-09-09       L                         166.10
300 2023-09-10       L                         166.10
303 2023-09-11       L  135.1133333333333333333333333
304 2023-09-12       L  135.1133333333333333333333333
305 2023-09-13       L  135.1133333333333333333333333
307 2023-09-14       L                         149.69
308 2023-09-15       L                         149.69
309 2023-09-16       L                         149.69
312 2023-09-17       L  156.9833333333333333333333333
313 2023-09-18       L  156.9833333333333333333333333
314 2023-09-19       L  156.9833333333333333333333333
318 2023-09-20       L                         150.82
319 2023-09-21       L                         150.82
320 2023-09-22       L                         150.82
323 2023-09-23       L                         186.85
326 2023-09-25       L  144.3766666666666666666666667
327 2023-09-26       L  144.3766666666666666666666667
328 2023-09-27       L  144.3766666666666666666666667
331 2023-09-28       L  147.1733333333333333333333333
332 2023-09-29       L  147.1733333333333333333333333
333 2023-09-30       L  147.1733333333333333333333333
340 2023-10-01       L                       142.5525
341 2023-10-02       L                       142.5525
342 2023-10-03       L                       142.5525
343 2023-10-04       L                       142.5525
344 2023-10-05       L                        155.585
345 2023-10-06       L                        155.585
348 2023-10-07       L                        155.585
349 2023-10-08       L                        155.585
351 2023-10-11       L                         175.77
356 2023-10-12       L  149.4233333333333333333333333
357 2023-10-13       L  149.4233333333333333333333333
358 2023-10-14       L  149.4233333333333333333333333
364 2023-10-17       L  121.3833333333333333333333333
365 2023-10-18       L  121.3833333333333333333333333
366 2023-10-19       L  121.3833333333333333333333333
367 2023-10-20       L  121.3833333333333333333333333
368 2023-10-21       L  121.3833333333333333333333333
369 2023-10-22       L  121.3833333333333333333333333
372 2023-10-23       L  143.9466666666666666666666667
373 2023-10-24       L  143.9466666666666666666666667
374 2023-10-25       L  143.9466666666666666666666667
375 2023-10-26       L  143.9466666666666666666666667
376 2023-10-27       L  143.9466666666666666666666667
377 2023-10-28       L  143.9466666666666666666666667
382 2023-11-02       L  149.4533333333333333333333333
383 2023-11-03       L  149.4533333333333333333333333
384 2023-11-04       L  149.4533333333333333333333333
389 2023-11-08       L                         152.16
390 2023-11-09       L                         152.16
393 2023-11-11       L                       143.8075
394 2023-11-12       L                       143.8075
395 2023-11-13       L                       143.8075
396 2023-11-14       L                       143.8075
397 2023-11-17       L                        156.845
398 2023-11-18       L                        156.845
399 2023-11-19       L  128.4085714285714285714285714
400 2023-11-20       L  128.4085714285714285714285714
401 2023-11-21       L  128.4085714285714285714285714
402 2023-11-22       L  128.4085714285714285714285714
403 2023-11-23       L  128.4085714285714285714285714
404 2023-11-24       L  128.4085714285714285714285714
405 2023-11-25       L  128.4085714285714285714285714
418 2023-12-01       L                         158.53
419 2023-12-02       L                         158.53
420 2023-12-03       L                        159.795
421 2023-12-04       L                        159.795
428 2023-12-13       L                        158.105
429 2023-12-14       L                        158.105
430 2023-12-15       L  199.8766666666666666666666667
431 2023-12-16       L  199.8766666666666666666666667
432 2023-12-17       L  199.8766666666666666666666667
439 2023-12-31       L                        146.351
440 2024-01-01       L                        146.351
441 2024-01-02       L                        146.351
442 2024-01-03       L                        146.351
443 2024-01-04       L                        146.351
444 2024-01-05       L                        146.351
445 2024-01-06       L                        146.351
446 2024-01-07       L                        146.351
447 2024-01-08       L                        146.351
448 2024-01-09       L                        146.351
452 2024-01-10       L                         159.78
453 2024-01-11       L                         159.78
461 2024-03-05       L                        132.455
462 2024-03-06       L                        132.455
463 2024-03-07       L                        132.455
464 2024-03-08       L                        132.455

Date  Listing
1     L                               1636.719
      R          811.5499999999999999999999999
3     L                                529.820
4     L                                 305.17
      R                                605.710
5     L          2634.159999999999999999999998
      R          4715.330000000000000000000001
6     L          3998.850000000000000000000003
      R          4703.545000000000000000000001
7     L          4467.390000000000000000000002
      R          5008.381666666666666666666666
8     L          4257.980000000000000000000001
      R          5048.453333333333333333333335
9     L          4275.719999999999999999999998
      R          3857.150000000000000000000001
10    L          3408.569999999999999999999999
      R          3663.010000000000000000000001
11    L          2540.459999999999999999999997
      R                              2518.4900
12    L          1698.841000000000000000000001
      R          1872.460000000000000000000000
Name: Earnings, dtype: object