<a href="https://colab.research.google.com/github/lhwong/airbnb-analytics/blob/main/paidout.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
from google.colab import files
import io
import matplotlib.pyplot as plt


uploaded = files.upload()


df2 = pd.read_csv(io.BytesIO(uploaded['airbnb_tax_01_2023-08_2023.csv']), parse_dates=['Date', 'Start Date'])



df2.loc[df2["Listing"] == "Level35 Ceylonz Suites overlooking KLCC, KL Tower", "Listing"] = 'R'
df2.loc[df2["Listing"] == "Level 35 Ceylonz Suites overlooking KLCC, KL Tower", "Listing"] = 'L'

result = df2.loc[df2['Type'] == "Reservation", 'Amount'].sum()

print("Total Paid Out Amount: ",result)



grouped = df2.loc[(df2['Type'] == "Reservation")].groupby('Listing')['Amount'].sum()

print(grouped)

grouped1 = df2.loc[(df2['Type'] == "Reservation")].groupby(['Listing', df2.Date.dt.month])['Amount'].sum()

print(grouped1)

#df2.set_index(df2.Date.dt.month, inplace=True)

#df2.loc[(df2['Type'] == "Reservation")].groupby('Listing')['Amount'].plot(legend=True)




#grouped2 = df2.loc[(df2['Type'] == "Reservation")].groupby([df2.Date.dt.month, 'Listing'])['Amount'].sum()
#.unstack().assign(Total=df2.groupby(df2.Date.dt.month).sum()).stack()

#print(grouped2)





#table = pd.pivot_table(df2, values=['Amount'], index=[df2.Date.dt.month,'Listing'], aggfunc = 'sum')
#table

pd.pivot_table(grouped2.reset_index(),
               index='Date', columns='Listing', values='Amount'
              ).plot(legend=True)

In [53]:
import pandas as pd
from google.colab import files
import io
import matplotlib.pyplot as plt


#uploaded = files.upload()


df1 = pd.read_csv('reservations1.csv', parse_dates=['Start date', 'End date', 'Booked'])

df2 = pd.read_csv('reservations2.csv', parse_dates=['Start date', 'End date', 'Booked'])

df3 = pd.read_csv('reservations3.csv', parse_dates=['Start date', 'End date', 'Booked'])

df4 = pd.read_csv('reservations4.csv', parse_dates=['Start date', 'End date', 'Booked'])

df5 = pd.read_csv('reservations5.csv', parse_dates=['Start date', 'End date', 'Booked'])

df6 = pd.read_csv('reservations6.csv', parse_dates=['Start date', 'End date', 'Booked'])

frames  = [df1, df2, df3, df4, df5, df6]
df = pd.concat(frames, ignore_index=True)


df.loc[df["Listing"] == "Level35 Ceylonz Suites overlooking KLCC, KL Tower", "Listing"] = 'R'
df.loc[df["Listing"] == "Level 35 Ceylonz Suites overlooking KLCC, KL Tower", "Listing"] = 'L'


print(df.head(3))

cols = ['Start date', 'End date', '# of nights', 'Earnings']
lst = []
for ind in range(len(df)):
  for (y in range(df['# of nights'][ind])) :
    lst.append([df['Start date'][ind], df['End date'][ind], df['# of nights'][ind], df['Earnings'][ind]])

data = pd.DataFrame(lst, columns=cols)

print(data)
#for ind in range(len(df)):
#    print(df['Start date'][ind], df['End date'][ind], df['# of nights'][ind])

  Confirmation code      Status                    Guest name Contact  \
0        HMNBYF9B2H  Past guest                    Alyosha 用户     NaN
1        HMA38XX8BD  Past guest                Farhan Razhuan     NaN
2        HMCQMMSQ8F  Past guest  Siti Nur Athirah Ahmad Latfi     NaN

   # of adults  # of children  # of infants Start date   End date  \
0            1              0             0 2023-04-26 2023-04-28
1            2              0             0 2023-04-28 2023-04-30
2            1              0             0 2023-04-29 2023-04-30

   # of nights     Booked Listing  Earnings
0            2 2023-04-25       R  RM210.68
1            2 2023-04-25       R  RM263.35
2            1 2023-04-25       L  RM153.75
    Start date   End date  # of nights  Earnings
0   2023-04-26 2023-04-28            2  RM210.68
1   2023-04-28 2023-04-30            2  RM263.35
2   2023-04-29 2023-04-30            1  RM153.75
3   2023-04-30 2023-05-01            1  RM131.68
4   2023-04-30 2023-05-01            1  RM151.42
..         ...        ...          ...       ...
204 2024-01-03 2024-01-06            3  RM491.98
205 2024-01-10 2024-01-12            2  RM319.56
206 2024-01-14 2024-01-16            2  RM319.57
207 2024-01-26 2024-01-31            5    RM0.00
208 2024-03-05 2024-03-09            4  RM529.82

[209 rows x 4 columns]